<!doctype html>
<html ng-app ng-controller="personCtrl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  </head>
<style>
.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

input.ng-invalid {
    background-color: green;
}
</style>
<body>
<div>
Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>

<p>My first expression: {{ 7 + 7 }}</p>
<input style="background-color:{{myCol}}" ng-model="myCol">
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{fullName()}}
<p>The third result is {{ points[2] }}</p>
<sample-Directive></sample-Directive>
<ul>
  <li ng-repeat="x in names | orderBy:'state'">
    {{ x.name + ', ' + x.state }}
  </li>
</ul>

<table>
  <tr ng-repeat="x in names">
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.name }}</td>
    <td ng-if="$even">{{ x.name }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.state }}</td>
    <td ng-if="$even">{{ x.state }}</td>
  </tr>
</table>

<p>Select a car:</p>

<select ng-model="selectedCar" ng-options="x.model for x in cars">
</select>

<h1>You selected: {{selectedCar.model}}</h1>
<p>Its color is: {{selectedCar.color}}</p>

<p>
<button ng-disabled="mySwitch">Click Me!</button>
</p>
<p>
<input type="checkbox" ng-model="mySwitch"/>
</p>
<h1 ng-mousemove="count = count + 1">Mouse over me!</h1>

<h2>{{ count }}</h2>

<h1 ng-mousemove="myFunc($event)">Mouse Over Me!</h1>

<p>Coordinates: {{x + ', ' + y}}</p>

<h1>Hide the DIV: <input type="checkbox" ng-model="myCheck"/></h1>

<div ng-hide="myCheck"></div>
</div>
<script>
var app = angular.module('', []);
app.controller('personCtrl', function($scope) {
	$scope.myFunc = function(myE) {
        $scope.x = myE.clientX;
        $scope.y = myE.clientY;
    }
	
	$scope.myCol='red';
	$scope.points=[1,15,19,2,40];
	$scope.mySwitch=true;
	$scope.firstName = "John";
	$scope.lastName = "Doe";
	$scope.fullName = function() {
        	return $scope.firstName + " " + $scope.lastName;
   	};
	
	$scope.names = [
        {name:'Allen',state:'Oklahoma'},
        {name:'Carl',state:'Texas'},
        {name:'Tom',state:'Montana'},
        {name:'Gary',state:'California'},
        {name:'William',state:'Vermont'},
        {name:'Stephen',state:'Virginia'},
        {name:'Frank',state:'Florida'},
        {name:'Paul',state:'New York'},
        {name:'Tim',state:'Nevada'}
        ];
	
	$scope.cars = [
        {model : "Honda Civic", color : "red"},
        {model : "Ford Tundra", color : "blue"},
        {model : "Toyota Camry", color : "green"}
	];
	
	$scope.count = 0;
});
app.directive("sampleDirective", function() {
    return {
        template : "<h1>Text made by a directive!</h1>"
    };
});
</script> 
</body>
</html>